* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.3rem;
  padding: 0.5rem;
}

input,
button,
select {
  width: 300px;
  border: 2px solid gray;
  padding: 6px 10px;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

button {
  cursor: pointer;
  background: #222;
  color: white;
}

button:hover {
  transform: translateY(-2px);
}

input:focus,
button:focus {
  outline: none;
}

.jokes {
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin: 1rem;
}

/* ! HOME */

.home {
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home img {
  pointer-events: none;
}

/* ! CATEGORIES */
